:local .container {
  width: 40%;
  background-image: url('./radpack-bg.jpg');
  background-position: center center;
  position: sticky;
}

:local .titleContainer {
  position: sticky;
  top: 3rem;
  padding-top: 3rem;
}

:local .icon {
  width: 64px;
  height: 64px;
  fill: currentColor;
}
