:local .container {
  grid-area: hero;
  position: relative;
}

:local .background {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('./radpack-bg.jpg');
  background-position: center center;
}

:local .icon {
  width: 64px;
  height: 64px;
  fill: currentColor;
}
