.app-layout {
  display: grid;
  width: 100%;
  min-height: 100vh;

  grid-template-areas: 'hero' 'main';
}

@media (min-width: 1280px) {
  .app-layout {
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'hero main';
  }
}

.main-section {
  grid-area: main;
}
