.app {
  display: grid;
  width: 100%;
  min-height: 100vh;

  grid-template-areas: 'hero' 'main';

  @media (min-width: theme('breakpoints.lg')) {
    & {
      grid-template-columns: 2fr 3fr;
      grid-template-areas: 'hero main';
    }
  }
}

.hero {
  grid-area: hero;
}

.main {
  grid-area: main;
}
