$font-family-primary: 'IBM Plex Sans', sans-serif;
$font-family-title: 'Alex Brush', cursive;

$theme: theme();

.radical-theme {
  background: theme('palette.backgrounds.body');
  color: theme('palette.typography.body');
}

// --------------------------------------------------------
// CSS Variables

// --- Small screens
:root {
  --display1: 3rem; // 56px

  /* ~1.25 scale on 16px */
  --heading1: 2.5rem; // 40px
  --heading2: 1.75rem; // 28px
  --heading3: 1.5rem; // 24px
  --heading-letter-spacing: 0.075em;

  --font-sm: 0.75rem; // 12px
  --font-md: 1rem; // 16px
  --font-lg: 1.25rem; // 20px

  --lead: 1.25rem; // 20px
  --code: 0.75rem; // 12px

  --s-xs: 0.274rem;
  --s-sm: 0.555rem;
  --s-md: 1rem;
  --s-lg: 1.424rem;
  --s-xl: 1.802rem;
}

// --- Large screens
@media (min-width: 768px) {
  :root {
    --display1: 6rem; // 96px

    --heading1: 3rem; // 48px
    --heading2: 2rem; // 32px
    --heading3: 1.5rem; // 24px
    --heading-letter-spacing: 0.075em;

    --subheading1: 1.125rem; // 20px
    --subheading2: 0.875rem; // 18px

    --font-sm: 0.875rem; // 14px
    --font-md: 1rem; // 16px
    --font-lg: 1.25rem; // 20px

    --lead: 1.5rem; // 24px
    --code: 0.9375rem; // 15px

    --s-xs: 0.25rem; // 4px
    --s-sm: 0.5rem; // 8px
    --s-md: 1rem; // 16px
    --s-lg: 2rem; // 24px
    --s-xl: 3rem; // 48px
  }
}

// --------------------------------------------------------
// Components

// --- <Icon />
$icon: (
  variants: (
    feature: (
      display: block,
      fill: currentColor,
      stroke: currentColor,
    ),
    feather: (
      display: inline-flex,
      margin-bottom: -0.2em,
      width: 1em,
      height: 1em,
      stroke: currentColor,
      fill: none,
      // removes the media alignment
      vertical-align: unset,
    ),
  ),
);

// --- <Link />
$link: (
  variants: (
    primary: (
      color: theme('palette.secondary.500'),
      '&:hover': (
        color: theme('palette.secondary.700'),
      ),
    ),
  ),
);

// --- <Text />
$text: (
  variants: (
    display-1: (
      color: theme('palette.typography.primary'),
      font-family: theme('typography.font-families.secondary'),
      font-size: var(--display1),
      font-weight: theme('typography.font-weights.heading'),
      text-shadow: theme('typography.shadows.display'),
    ),
    heading-1: (
      color: theme('palette.typography.heading'),
      font-family: theme('typography.font-families.secondary'),
      font-size: var(--heading1),
      font-weight: theme('typography.font-weights.heading'),
      letter-spacing: var(--heading-letter-spacing),
    ),
    heading-2: (
      color: theme('palette.typography.heading'),
      font-family: theme('typography.font-families.secondary'),
      font-size: var(--heading2),
      font-weight: theme('typography.font-weights.heading'),
      letter-spacing: var(--heading-letter-spacing),
    ),
    heading-3: (
      color: theme('palette.typography.heading'),
      font-family: theme('typography.font-families.secondary'),
      font-size: var(--heading3),
      font-weight: theme('typography.font-weights.heading'),
      letter-spacing: var(--heading-letter-spacing),
    ),
    subtitle-1: (
      color: theme('palette.typography.heading'),
      font-family: theme('typography.font-families.secondary'),
      font-size: var(--subheading1),
      font-weight: theme('typography.font-weights.subtitle'),
      letter-spacing: theme('typography.letter-spacings.heading'),
    ),
    subtitle-2: (
      color: theme('palette.typography.heading'),
      font-family: theme('typography.font-families.secondary'),
      font-size: var(--subheading2),
      font-weight: theme('typography.font-weights.subtitle'),
      letter-spacing: theme('typography.letter-spacings.heading'),
    ),
    body: (
      font-size: var(--font-md),
      max-width: 800px,
      '& + &': (
        margin-top: 0.75rem,
      ),
    ),
    lead: (
      color: theme('palette.typography.body'),
      font-size: var(--lead),
      font-weight: theme('typography.font-weights.heading'),
    ),
  ),
);

// v2 Componentry variables

$input-bg: theme('palette.backgrounds.mito');
$list-bg: theme('palette.backgrounds.mito');
