/**
 * Application styles
 */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.screen-container {
  max-width: 100%;
  flex-grow: 1;
  padding-left: $spacer;
  padding-right: $spacer;
  overflow: auto;
}

.font-ornamental {
  font-family: 'Alex Brush', cursive;
}

.icon.font {
  margin-right: 0.3em;
}
