:local(.component) {
  // --------------------------------------------------------
  // Left side page title

  .title-container {
    width: 40%;

    .sticky-title {
      position: sticky;
      padding-top: 3rem;
      top: 3rem;
    }
  }

  // --------------------------------------------------------
  // Right side page content

  .features-list-container {
    width: 60%;
  }

  // --------------------------------------------------------
  // Integrations showcase

  .integration {
    display: flex;
    align-items: center;
    width: 75px;
    height: 75px;
    margin: 0 10px;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
